{
    "root": true,
    "env": {
        "node": true
    },
    "extends": ["plugin:vue/strongly-recommended", "eslint:recommended"],
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "plugins": ["vue"],
    "globals": {
        "_": true,
        "moment": true
    },
    "rules": {
        "no-trailing-spaces": 2,
        "indent": [2, 4, { "SwitchCase": 1 }],
        "eol-last": ["error", "always"],
        "comma-dangle": ["error", "only-multiline"],
        "object-curly-spacing": ["error", "always"],
        "semi": ["error", "always"],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1,
                "maxEOF": 1,
                "maxBOF": 1
            }
        ],
        "vue/require-default-prop": "off",
        "vue/html-closing-bracket-newline": [
            "error",
            { "singleline": "never", "multiline": "never" }
        ],
        "vue/html-closing-bracket-spacing": "error"
    }
}