.opt_container {
    display: flex;
    flex-direction: column;
    .time_header {
        background-color:#504b4b;
        height: 40px;
        display: flex;
        align-items: center;
        .contrast_btn {
            flex-shrink: 0;
            padding: 0 15px;
            line-height: 30px;
        }
        .search_bar {
            flex: 1;
        }
    }
    .optimization {
        flex: 1;
        overflow: auto;
        background-color: #fff;
        .content_row {
            flex: 1;
            height: 100%;
            .overflow {
                overflow: auto;
                flex: 1;
                .overview_select {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
        .el-table {
            thead.is-group th {
                color: #4d4d4d;
                background: #e6e6e6;
            }
            .el-table__header {
                background: #e6e6e6;
            }
            thead {
                tr:first-child th, tr:last-child th:nth-child(5) {
                    border-right: 0;
                }
            }
            .el-table--border th, .el-table__fixed-right-patch {
                border-color: #F2F2F2;
            }
            .cell {
                >img,
                >span {
                    display: inline-block;
                    vertical-align: middle;
                }
                >span {
                    margin-left: 0!important;
                }
            }
        }
    }
}
