.time_header {
    background-color:#504b4b;
    height: 40px;
    padding:5px 0;
    display: flex;
    align-items: center;
    >div:not(.search_bar) {
        flex-shrink: 0;
    }
    .contrast_btn {
        padding: 0 15px;
        line-height: 30px;
    }
    .search_bar {
        flex: 1;
    }
}
.overview {
    background-color: #fff;
    flex: 1;
    overflow: auto;
    color: #4d4d4d;
    .overview_select {
        width: 100%;
        height: 100%;
        min-height: 300px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .el-date-editor.el-range-editor {
        width: 300px;
    }
    .content_row {
        height: 100%;
        .common-overflow {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: auto;
            height: 100%;
            .common-wrap{
                .bacground{
                    background-color: #1a1a1a!important;
                }
                .span {
                    display: inline-block;
                    width: 20%;
                    height: 50px;
                    line-height: 40px;
                    background-color: gray;
                    text-align: center;
                    box-sizing: border-box;
                    padding: 5px;
                    color: #fff;
                    & +.span {
                        border-left: 1px solid #a29e9e;
                    }
                    cursor: pointer;
                    .dot {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: relative;
                        left: -8px;
                        top: -1px;
                        background-color: #fff;
                    }
                }
                @media screen and (max-width: 1550px){
                    .span {
                        width: 25%;
                        &:last-child {
                            border-left: none;
                        }
                    }
                }
            }
            .nav-content {
                flex: 1;
                overflow-y: auto;
                overflow-x: hidden;
                .overview_title{
                    color: #000;
                    font-size: 18px;
                }
            }
        }
    }
    .stragety {
        width: 85%;
        margin: 5px auto 0;
        .stragety-title {
            text-align: center;
            margin-bottom: 10px;
            color: #454545;
        }
        .stragety-box {
            border: 2px solid #f6f6f6;
            height: 300px;
            border-radius: 4px;
            padding: 20px 35px;
            position: relative;
            .el-checkbox {
                display: block;
            }
            .el-checkbox+.el-checkbox {
                margin-left: 0;
                margin-top: 5px;
                display: flex;
                white-space: pre-wrap;
            }
            .center {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
