.track {
    min-width: 1024px;
    height: 100%;
    .table_container {
        border-radius: 5px;
        background: #fff;
        padding: 20px 0 20px;
        margin-top: 20px
    }
    .title {
        margin: 0 0 25px 25px;
    }
    .el-table {
        .el-table__row {
            >td {
                background: #EEE;
            }
            .cell{
                text-align: center;
                cursor: pointer;
            }
            .cell_count_use:hover{
                font-size: 16px;
                font-weight: bold;
            }
        }
        thead {
            color: #323232;
        }
        .el-table_1_column_1 {
            text-align: center;
        }
        .el-table__column-filter-trigger {
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border-radius: 3px;
            background: #208cb2;
            margin-left: 5px;
        }
        .el-table__column-filter-trigger i {
            transform: scale(1.2);
            font-weight: bold;
            color: #fff;
        }
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td {
        background: #fff;
    }
    .page_container {
        text-align: center;
        margin: 40px 0 20px;
    }
}