$border-right:rgb(128,128,128);
.home_menu{
    display: flex;
    align-items: center;
    background-color: #333;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #333;
    .menu_output{
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-right: 1px solid $border-right;
    }
    ul.el-menu{
        height: 50px;
        .el-submenu{
            .el-submenu__title{
                border-left: none;
            }
        }
        .el-submenu.is-active .el-submenu__title{
            border-left: none;
            color: rgb(255, 255, 255)
        }
    }
    .el-menu-item{
        border-left: none;
        width: 150px;
        text-align: center;
        border-right: 1px solid $border-right;

    }
    .el-submenu.is-active .el-submenu__title{
        margin-bottom: none;
    }
    .el-menu--horizontal{
        .el-menu-item{
            height: 50px;
            line-height: 50px;
            border-bottom: none;
        }
    }
    .el-menu--horizontal>.el-submenu .el-submenu__title{
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }
    .el-menu, .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus, .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, .el-menu--horizontal>.el-submenu .el-submenu__title:hover{
        background-color: #333;
        color: rgb(255, 255, 255)
    }
    .el-menu-item:focus, .el-menu-item.is-active{
        border-left: none;
    }
    .menu--horizontal>.el-submenu .el-submenu__title:hover{
        background-color: rgb(128, 128, 128)
    }


}

.tree_container1 {
    height: 100%;
    min-width: 280px;
    padding-bottom: 18px;
    overflow-y: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    background: rgb(230, 230, 230);
    .homeSlider {
        // padding: 10px;
        .slider_header {
            color: rgb(49, 140, 184);
            font-size: 20px;
            font-weight: bold;
            padding: 50px 0px 20px 50px;
            border-bottom: 1px solid rgb(129, 129, 129);
            margin-bottom: 30px
        }
        .slider_menu {
            // padding-top: 20px;
            .company_before {
                display: inline-block;
                width: 7px;
                height: 7px;
                background-color: #308db9;
                border-radius: 50%;
                position: absolute;
                top: 13px;
                left: 30px;
            }
            .menu_company {
                color: rgb(77, 77, 77);
                font-weight: bold;
                padding: 10px 0 20px 45px;
                margin-bottom: 5px;
                position: relative;
            }
            .menu_list {
                color: #4e4646;
                font-weight: 600;
                text-decoration: none;
                display: block;
                padding: 10px 0 10px 45px;
                position: relative;
                .menu_list_img {
                    position: absolute;
                    right: 35px;
                    display: none;
                }
            }
            .menu_list:hover {
                color: rgb(49, 140, 184);
                background: #e8e8e8;
                box-shadow: 0 3px 5px 0 rgba(204, 204, 204, 0.8);
                transition: all 0.5s;
            }
            .menu_list_select {
                color: rgb(49, 140, 184);
                background: #e8e8e8;
                box-shadow: 0 3px 5px 0 rgba(204, 204, 204, 0.8);
            }
            .menu_list:hover .menu_list_img {
                display: inline-block;
            }
            .menu_list:hover .menu_list_img {
                display: inline-block;
            }
        }
    }
}

.padding_top {
    padding-top: 30px;
}

.card {
    overflow: hidden;
}

.pie-container {
    margin-bottom: 40px;
}

.common {
    .home_select{
        height: 480px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .clickOpen{
        height: 480px;
        overflow: hidden;
        transition: height .5s;
    }
    .common-title {
        display: inline-block;
        padding: 10px 50px;
        font-size: 18px;
        background-color: #308db9;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .card_company {
        width: 20%;
        float: left;
    }
    .card_company_target {
        width: 80%;
        float: left;
    }
    .open {
        background-color: #fff;
        height: 44px;
        color: #fcb448;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content:center;
        border-top: 1px solid #eaeefb;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: 1s;
        cursor: pointer;
        img{
            width: 15px;
            margin-right: 15px;
        }
        &:hover{
            background-color: #308db9;
        }
    }
}
