@import './normalize.css';
@import './reset.css';

html, body {
  height: 100%;
  overflow: hidden;
}

/* height */
.min-height-400 {
  min-height: 400px;
}

/* margin */
@each $px in 5 10 20 30 40 50 60 70 80 {
    .margin-top-#{$px} {
        margin-top: 1px * $px;
    }
}
@each $px in 5 10 20 30 40 50 60 70 80{
    .margin-bottom-#{$px} {
        margin-bottom: 1px * $px;
    }
}

/* border */
.border-left-2-gray {
  border-left: 2px solid #D8D8D8;
}
/* color */
.red {
  color: #c13633;
}
.blue {
  color: #26a6d7;
}

/* font */
.bold{
  font-weight: bolder;
}


::-webkit-scrollbar {
    width: 7px;
    height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.5);
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.colorSpan {
    width: 20px;
    height: 14px;
    display: inline-block;
    border-radius: 2px;
    box-shadow:0 3px 5px 0 rgba(204, 204, 204, 0.8);
    margin-right: 5px;
}
.greenSpan {
    background-color: #01b8aa;
}
.yellowSpan {
    display: inline-block;
    background-color: #F2C811
}
.redSpan{
    display: inline-block;
    background-color: #FD625E
}
.avg{
    color: #333;
    font-size: 12px;
    margin-right: 10px
}

