@import './normalize.css';
@import './reset.css';

html, body {
  height: 100%;
}

/* height */
.min-height-400 {
  min-height: 400px;
}

/* margin */
@each $px in 10 50 {
    .margin-top-#{$px} {
        margin-top: 1px * $px;
    }
}
@each $px in 5 10 20 {
    .margin-bottom-#{$px} {
        margin-bottom: 1px * $px;
    }
}

/* border */
.border-left-2-gray {
  border-left: 2px solid #D8D8D8;
}
.border-radius-0{
  border-radius: 0;
}

/* color */
.red {
  color: #c13633;
}
.blue {
  color: #26a6d7;
}

/* font */
.bold{
  font-weight: bolder;
}
/* btn */
.clean_btn {
    overflow: hidden;
    text-align: right;
    border-bottom: 1px solid#c9c9c9;
    .clean_select {
        display: inline-block;
        width: 90px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        color: #fcb448;
        cursor: pointer;
        background-color: #3c80ad;
        box-shadow: 0 3px 5px 0 rgba(113, 113, 114, 0.5);
    }
}
.title_target {
    margin: 10px 20px 18px 14px;
    font-size: 15px;
    text-align: left;
    color: #312d2d
}
